.navbar {
  /* existing styles */

  @media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */

    .container {
      width: 90%;
      padding: 20px;
      flex-direction: column;

      .logo {
        font-size: 28px;
      }

      .links {
        flex-direction: column;
        gap: 12px;

        .user {
          .options {
            top: 32px;
            right: 10px;
          }
        }

        button {
          padding: 8px 16px;
        }
      }
    }

    hr {
      width: 100%;
    }

    .menu {
      width: 90%;
      padding: 10px;
    }
  }
}
